/.editorconfig
/.github/
/.gradle/
/.npmignore
/*.gradle
/*.tgz
/app/
/build/
/CONTRIBUTING.md
/copy.sh
/gradle/
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/Makefile
/run.sh
/shim/
/temp/
